
/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilos de header*/

header {

    align-items: center;
    border: 10px solid #EBEAAE
}


.home-bg {
    background-color: #E6E6FB;
}

/*estilos de main en home*/

main {

    background-color: #E6E6FB;
    text-align: center;
    font-family: "Noto Sans Gunjala Gondi", sans-serif;
    padding: 30px;
}


main img {

    width: 100%;
}


.text-main {
    margin: 30px;
    color: #65597F;
}


main .text-main .boton {

    background-color: #EBEAAE;
    display: inline-block;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 10px 5px 8px #65597F;
}





/*estilos de main para SEDES*/

main .main-sedes {

    display: grid;
    grid-template-columns: 1fr 1fr;


}

main .text-main {

    grid-column: span 2
}

main iframe {

    width: 100%;
    height: 100%;

}

.pilatessede {

    width: 55%
}



main h1 {

    margin: 30px;
    color: #65597F;
}

main h2 {

    padding: 30px;
    color: #65597F;
}



/*estilos para tabla*/


.contenedortabla {
 
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1f);
    grid-template-rows: 200px 400px;
    grid-template-areas: "head head" 
                         "foto  texto"




}




table {

    width: 100%;
 
    background-color: #EBEAAE;
    border-collapse: collapse;
    margin: auto;
    margin-bottom:30px;

 
   

    

}

.tabla{grid-area: head;}

th,
td {
    padding: 5px;
    color: #65597F;
    border: solid 2px;

}





 .tablaimg {
    width: 100%;
    
    grid-area: foto;

 }

 



main .textostabla {

    font-family: "Noto Sans Gunjala Gondi", sans-serif;
    color: #65597F;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
     grid-area: texto;

    

    


}

main ul {

    text-align: start;
    
}

main ul li {

    color: #65597F;
}



/*estilos formulario*/

form {
    background-color: #EBEAAE;
    padding: 10px;
    border-radius: 3px;
    color: #65597F
}

form p {
    margin-top: 15px;
}

.center-content {
    text-align: center;
}

.field {
    border: solid 1px #ccc;
    padding: 10px;
}


input,
textarea {

    width: 280px;
}


/*estilos de section*/

section {

    display: flex;
    background-color: #EBEAAE;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

section .imgsection img {

    width: 100%;
    min-width: 200px;
    padding: 25px;


}


section .textos {

    text-align: center;
    font-family: "Noto Sans Gunjala Gondi", sans-serif;
    color: #65597F;



}

section .textos span {

    font-weight: bold;

}

/*estilos para grid FAQS*/

main .contenedorfaqs {


    display: flex;
align-items: center;
    flex-wrap: wrap;




}


main p {

    color: #65597F;
}


/*estilos para footer*/

footer {


    background-color: #E6E6FB;
    color: #65597F;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    justify-content: center;

}


footer p {
    font-size: 10px;


}






/*logo intstagram*/

.loginsta {
    width: 25px;
}






/* Media query para computadoras de escritorio */

@media (min-width: 1024px) {


    body {

        margin: 0 auto;
    }



    main .textostabla {
        padding: 80px;
        text-align: center;
    }



    main .contenedorfaqs {

        
        justify-content: center;
    }

    .formcontacto {
        display: flex;
        justify-content: center;
        align-items: center;
        

    }


    .form {

        justify-content: center;
        align-items: center;
        width: 500px;

    }

    footer p {
        font-size: 15px;
    }


}