//mixin home 



@mixin footer {
    display: flex;
    border: 1px solid #65597F;
    background-color: #E6E6FB;
    gap: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    

    p {
        margin: 0;
    }
    
 }

/*logo intstagram*/
 .loginsta {
    width: 20px;
}

@mixin preguntas {

    border: 2px solid #65597F;
    padding: 20px;
    border-radius: 12px;
    margin: 5px;
    text-align: center;
    margin-bottom: 10px;
  
  
} 
 

